

.maincontent{
    display: flex;
    justify-content: space-around;
}
.paragr{
    padding-right: 5px;
}
.paragr span{
    font-weight: normal;    
}
.footer {
    margin-top: 60px;
    text-align: center;
}
.html{
    padding: 10px;

}
@media(max-width:768px){
    .maincontent{
        width: 40%;
    }
}